/* Italian-inspired typography */
/* ss */
/* ss */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700;1,800;1,900&family=Inter:wght@300;400;500;600&display=swap');
